.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.titlePositive {
  color: black;
  /* text-outline: 1px 1px 0; */
  font-weight: 900;
  padding: 100px;
  font-size: 50px;
}
.messagePositive {
  color: black;
  font-weight: 900;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 20px;
}
.done {
  color: black;
}
.fade-component {
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(5);
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
