
.homeContainer {
  justify-content: center;
  align-items: center;

}
.buttonLocation {
  display: inline-block;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding-top: 50px;
  padding-bottom: 20%;
}
.hello {
  color: white;
  font-size: 70px;
  display: inline-block;
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  font-weight: 900;
}
.needHelp {
  color: white;
  font-size: 30px;
  display: inline-block;
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  font-weight: 600;
 
}
.rating {
  position: absolute;
  right: 0px;
  top: 250px;
  background-color: transparent;
  height: 200px;
  width: 1000px;
}

.blank {
  height: 300px;

  position: absolute;
  bottom: 10px;
  right: 10px;
}