
.homeContainer {
  justify-content: center;
  align-items: center;

}
.buttonLocation {
  display: inline-block;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding-top: 5%;
}
.hello {
  color: white;
  font-size: 70px;
  display: inline-block;
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-weight: 900px;
}
.needHelp {
  color: white;
  font-size: 40px;
  display: inline-block;
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-top: 30%;
 
}