.button {
  -webkit-appearance: none;
  display: inline-block;
  padding: 15px 35px;
  background: #00a7a7;
  color: #fff;
  border: 2px solid #00a7a7;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button a,
.button a:hover,
.button a:focus {
  color: white;
  text-decoration: none;
}
