.sectionContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.section {
    color: black;
    flex: 1;
    margin: 50px;
}
.buttonContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}