.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.title {
  color: black;
  text-outline: 1px 1px 0;
  font-weight: 900;
  padding: 150px;
}
.message {
  color: black;
  font-weight: 900;
  padding: 100px;
}
.done {
  color: black;
}
