.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.title {
  color: white;

  font-weight: 800;
  padding: 150px;
}
.message {
  color:white;
  font-weight: 800;
  padding: 100px;
}
.done {
  color: white;
}
