
.background {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('/background.jpg');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.info {
  color: black;
  position: absolute;
  right: 0;
  top: 0;
}
.time {
  font-size: 40px;
  font-weight: 300;
}
.date {
 font-size: 15px;
 font-weight: 100;
}
.name {
 font-size: 20px;
 font-weight: 400;
 padding-right: 20px;
}
.classNumber {
 font-size: 20px;
 font-weight: 400;

}


.logo {
  height: 120px;
  padding: 10px;
}
.background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

