
.background {
  background-image: url('/background.jpeg');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;

  
}
.info {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
}
.time {
  font-size: 50px;

}
.date {
 font-size: 20px;
}
.name {
 
}
.classNumber {

}


.logo {
  height: 120px;
  padding: 10px;
}
.background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

