.buttonHint {
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 200px;
    font-weight: 900;
    font-size: 30px;
}
.hint {
    width: 50px;

}
.buttonMentor {
    text-align: center;
    position: absolute;
    right: 200px;
    top: 0px;
    height: 100px;
    width: 200px;
    font-weight: 900;
    font-size: 30px;
}